button
{
    color: #c5c5c5;
    font-size: 20px;
    background-image: none;
    border-radius: 0px;
}

button:active
{
    color: white;
    background-color: #424242;
}

button:focus
{
    color: white;
    background-color: #424242;
}