#sign-in-window{
    background-color:#3c3f41;
    border-radius: 10px;
}

#label_username {
    color: white;
}
#label_password {
    color: white;
}
#username_entry_login{
    background-color: #424242;
    color: white;
}
#password_entry_login{
    background-color: #424242;
    color: white;
}