entry {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: lightsteelblue;
    font-size: 12px;
}

entry:focus {
    outline: none;
    border-color: #007fff;
}

button {
    background-color: #007fff;
    color: #006;
    padding: 5px;
    border-radius: 5px;
    border: none;
    font-size: 12px;
    font-weight: bold;
    transition: background-color 0.2s ease-in-out;
}

button:hover {
    background-color: #006;
}

button:active {
    background-color: #004;
}

button:disabled {
    opacity: 0.5;
}

button:focus {
    outline: none;
}

button > label {
    color: black;
}
