box
{
    background-color: #0a0931;
}

button
{
    background-color: #0a0931;
    color: #ffffff;
    font-size: 24px;
}

button:hover
{
    background-color: #1a187e;
    background-image: none;
    color: #ffffff;
}

button:focus
{
    background-color: #1a187e;
    background-image: none;
    color: #ffffff;
}

image#logo
{
    background-color: #0a0931;
}