button{
    background-color: lightskyblue;
    border-radius: 30%;
}

/* Set the background color of the progress bar */
progressbar {
    background-color: #FFFFFF;
}

/* Set the color of the progress bar fill */
progressbar > trough > progress {
    background-color: #0000FF;
}

/* Set the color of the progress bar text */
progressbar > .text {
    color: #000000;
}

/* Set the font size and color of the song name label */
#song-label {
    font-size: 24px;
    font-weight: bold;
    color: navy;
}

/* Set the font size and color of the artist name label */
#artist-label {
    font-size: 18px;
    color: navy;
}
