
#button_login {
    background-color: #0a0931;
    color: #0a0931;
}

/* Set background and text color for button_register */
#button_register {
    background-color: #ffffff;
    color: #0a0931;
    border: 1px solid #0a0931;
}
#label_username {
    color: white;
}
#label_password {
    color: white;
}